# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.txt
# Testing
.vitest/
sample/
# Misc
.turbo/
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts
**/src/**/*.d.ts.map

.changeset/*.md
!.changeset/README.md
**_Analysis.md
**addendum.md
**spec.md